<div class="container-fluid main" id="main">
    <div class="container">
        <div Headers>Contact Me</div>
        <div class="forms" id="forms" [ngClass]="isSubmit || error ? 'height-auto' : ''">
            <div class="details">
                <div class="items" *ngFor="let items of contacts">
                    <a [href]="items.link">
                        <i [class]="items.logo"></i> <span>{{ items.name }}</span></a>
                </div>
            </div>
            <div class="bottom">
                <ng-container *ngIf="!isSubmit && !error">
                    <form class="container-fluid" (ngSubmit)="submit()" [formGroup]="form">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <label for="name">Name:</label><br />
                                <input type="text" placeholder="Enter your Name?" formControlName="name" />
                                <br />
                                <div class="error" *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
                                    *Name cannot be empty!
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label for="email">Email:</label>
                                <input type="email" placeholder="Enter your Email?" formControlName="email" />
                                <div class="error" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']">
                                    *Email cannot be empty!
                                </div>
                                <div class="error" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['email']">
                                    *Invalid email entered. Please re-enter!
                                </div>
                            </div>
                        </div>
                        <div class="row textarea-row">
                            <div class="col-12 col-lg-12">
                                <label for="message">Message:</label><br />
                                <textarea name="message" id="message" placeholder="Enter your message for me?" formControlName="message"></textarea>
                                <div class="error" *ngIf="
                    form.get('message')?.invalid && form.get('message')?.touched
                  ">
                                    *Please leave some message!
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 submit">
                                <button type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </ng-container>
                <ng-container *ngIf="isSubmit">
                    <div class="display-message">Form Submit SuccessFul</div>
                </ng-container>
                <ng-container *ngIf="error">
                    <div class="error-message">Error! {{ errorMessage }}</div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->