*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
h1
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 65px;
}
.Nav-bar{
    background-color: #a09cdf;
    height: 65px;
    width: 100%;
    top: 0px;
    position: sticky;
}