* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: #ccc;
  font-family: "Barlow Condensed", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #06141b;
}
header nav .mob {
  color: #4a5c6a;
  transition: 0.6s;
}
.mob:hover {
  color: #ccc;
}
.underline {
  border-bottom: 8px solid #0181b0;
  cursor: default;
}
.underline:hover {
  border-bottom: 8px solid #ccc;
  transition: 0.6s ease-in-out;
  color: #0181b0;
}
#home,
#contacts,
#skills,
#education,
#aboutme {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  width: 100vw;
  height: 80px;
  text-align: center;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Barlow Condensed", sans-serif;
  position: fixed;
  z-index: 3;
}
.mob {
  display: none;
  font-size: 65px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
}
nav ul li {
  display: inline;
  padding-left: 35px;
  padding-right: 35px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-weight: 480;
}
nav ul li a:hover {
  color: #0181b0;
}
nav ul li a:focus {
  color: white;
}
.content {
  width: 80%;
  height: 80vh;
}
#home .content .left {
  width: 55%;
  height: 100%;
  float: left;
  display: block;
  align-items: center;
  justify-content: center;
  padding-left: 35px;
  padding-top: 13%;
  font-family: "Barlow Condensed", sans-serif;
}
#home .content .right {
  width: 45%;
  height: 100%;
  float: right;
  background: url("/img/20200807221711_IMG_0779.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}
.hello {
  color: #ccc;
  font-size: 65px;
  font-weight: 480;
  display: block;
  line-height: 70px;
}
.name {
  font-family: "Montserrat", sans-serif;
  color: #0181b0;
  font-weight: 700;
  padding-bottom: 0;
  line-height: 25px;
  font-size: 85px;
  cursor: pointer;
  border-bottom: 8px solid #ccc;
}
.name:hover {
  color: #ccc;
  border-bottom: 8px solid #0181b0;
  transition: 0.6s ease-in-out;
}
.des {
  margin-top: 0px;
  color: #ccc;
  font-size: 45px;
  line-height: 45px;
  font-weight: 300;
}
button {
  width: 200px;
  height: 50px;
  border-radius: 12px;
  border: #ccc 2px solid;
  color: #ccc;
  background-color: transparent;
  font-size: 35px;
  margin-top: 7%;
  cursor: pointer;
}
button:hover {
  transition: 0.5s ease-out;
  transform: scale(1.02);
  border: #0181b0 2px solid;
  color: #0181b0;
}
.am {
  font-size: 95px;
  text-transform: uppercase;
  padding-bottom: 0px;
}
.abtme {
  margin-left: 55px;
  border-left: solid 5px #0181b0;
  border-radius: 5px;
  padding-left: 55px;
  height: 100%;
}
.abtme p {
  margin-top: 15px;
  font-size: 1.7vw;
  text-align: justify;
}
#aboutme .content .left {
  width: 45%;
  height: 100%;
  float: left;
  background: url("img/20200807221711_IMG_0779.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: #ccc 5px solid;
  padding: 15px;
}
#aboutme .content .right {
  float: right;
  width: 55%;
  height: 100%;
}
.breadcrumb {
  margin-top: 15px;
}
.breadcrumb li {
  list-style: none;
  display: inline;
  font-size: 3vw;
}
.breadcrumb li + li::before {
  content: " /";
  color: #0181b0;
  font-size: 45px;
  padding: 15px;
}
#hire {
  border: #0181b0 2px solid;
  color: #0181b0;
  margin-right: 35px;
  margin-left: 35px;
}
#hire:hover {
  border: #ccc 2px solid;
  color: #ccc;
}
.top {
  height: 15%;
  padding: 0;
  margin: 0;
}
.bottom {
  height: 85%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
table,
th {
  border: 1.5px solid #ccc;
  border-collapse: collapse;
  background-color: #0181b0;
  text-decoration: underline;
  font-size: 40px;
}
th,
td {
  height: 85px;
}
.th1,
.th2,
.th4,
.th5 {
  width: 15%;
}
.th3 {
  width: 30%;
}
td {
  background-color: #ccc;
  border: #0181b0 1.5px solid;
  color: #4a5c6a;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}
.edu {
  font-size: 95px;
  text-transform: uppercase;
  padding: 0;
}
#skills .content {
  height: 90vh;
}
#skills .content .top {
  height: 10%;
}
.skills-title {
  font-size: 5vw;
  cursor: pointer;
}
.skills-title:hover {
  color: #0181b0;
}
#skills .content .bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 90%;
}
.item {
  height: 90%;
  border: #4a5c6a solid 2px;
  margin: 20px;
  padding: 10px;
  width: 95%;
}
.item .item-top img {
  width: 100px;
  height: 100px;
}
.item .item-bottom {
  font-size: 20px;
}
.item .item-bottom .title {
  font-size: 45px;
}
.item:hover {
  border: 2px solid #ccc;
}
#contacts .content {
  padding: 0;
}
#contacts .content .top {
  font-size: 5vw;
}
#contacts .content .bottom {
  padding: 0;
  padding-top: 10px;
}
#contacts .content .bottom .bottom-left {
  width: 20%;
  float: left;
  border: 2px solid #4a5c6a;
  border-radius: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contacts .content .bottom .bottom-right {
  width: 80%;
  float: right;
  height: 90%;
  border: #4a5c6a solid 2px;
  border-left: none;
  border-radius: 5%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 5%;
  align-items: center;
}

#contacts ul li {
  text-decoration: none;
  list-style: none;
  font-size: 35px;
  padding-top: 10%;
  padding-bottom: 10%;
}
#contacts ul li a {
  color: #0181b0;
}
#contacts ul li a:hover {
  color: #4a5c6a !important;
}
#contacts .content .bottom .bottom-right .message {
  font-size: 3vw;
  color: #0181b0;
}
#contacts .content .bottom .bottom-right label {
  font-size: 1.5vw;
}
.inputbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.input-box:first-child {
  margin-right: 10px;
}
.input-box:last-child {
  margin-left: 10px;
}
#contacts .content .bottom .bottom-right input {
  height: 45px;
  width: 100%;
  background-color: transparent;
  border: #4a5c6a 2px solid;
  outline: none;
  border-radius: 5px;
  color: #ccc;
  padding: 5px;
  font-size: 25px;
}
#contacts .content .bottom .bottom-right input:focus {
  border: none;
  border: #0181b0 solid 2px;
  background-color: transparent;
  transition: 0.2s ease-in-out;
}
#contacts .content .bottom .bottom-right form textarea {
  background-color: transparent;
  width: 100%;
  height: 20vh;
  border: #4a5c6a solid 2px;
  border-radius: 5px;
  outline: none;
  font-size: 25px;
  margin-bottom: 15px;
  padding: 5px;
}
#contacts .content .bottom .bottom-right form textarea:focus {
  border: none;
  border: #0181b0 solid 2px;
  background-color: transparent;
  transition: 0.2s ease-in-out;
}
#contacts .content .bottom .bottom-right input[type="submit"]:hover {
  background-color: #0181b0;
  border: #ccc 2px solid;
}
@media screen and (max-width: 1380px) {
  #aboutme .content .left {
    width: 40%;
  }
  #aboutme .content .right {
    width: 60%;
  }
  #aboutme .content .right .abtme .am {
    font-size: 45px;
  }
  #aboutme .content .right .abtme p {
    font-size: 2vw;
  }
  #aboutme .content .right .abtme button {
    width: 125px;
    font-size: 25px;
  }
  .am {
    border-bottom: 5px solid #0181b0;
  }
  .item .item-bottom .description {
    font-size: 18px;
  }
}

@media screen and (max-width: 1450px) {
  .hello {
    font-size: 45px;
    font-weight: 480;
    display: block;
    line-height: 55px;
  }
  .name {
    border-bottom: 7px solid #ccc;
    line-height: 25px;
    font-size: 55px;
    cursor: pointer;
  }
  .name:hover {
    border-bottom: 7px solid #0181b0;
  }
  .des {
    font-size: 35px;
    line-height: 25px;
  }
  #education .content .top {
    padding-left: 50px;
  }
}
@media screen and (max-width: 980px) {
  nav ul li {
    display: none;
  }
  .mob {
    display: inline;
    color: #fff;
  }
  #home {
    background: url("img/20200807221711_IMG_0779.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
  #home .content .left {
    width: 100%;
    padding-top: 65%;
    padding-left: 15px;
  }
  #home .content .right {
    display: none;
  }
  .hello {
    font-size: 30px;
    font-weight: 480;
    box-sizing: border-box;
    line-height: 45px;
  }
  .name {
    font-family: "Montserrat", sans-serif;
    color: #0181b0;
    font-weight: 700;
    border-bottom: 5px solid #ccc;
    font-size: 45px;
    cursor: pointer;
    line-height: 0px;
  }
  .name:hover {
    color: ccc;
    transition: 0.8s ease-in-out;
    border-bottom: #0181b0 5px solid;
  }
  .des {
    margin-top: 0px;
    color: ccc;
    font-size: 25px;
    line-height: 45px;
    font-weight: 300;
  }
  #aboutme {
    background-color: transparent;
  }
  #aboutme .content {
    width: 100%;
    margin-left: 5%;
  }
  #aboutme .content .left {
    display: none;
  }
  #aboutme .content .right {
    width: 100%;
    border-left: solid 5px #0181b0;
    padding-left: 5%;
  }
  .am {
    font-size: 45px;
    text-transform: uppercase;
    padding-bottom: 0px;
    border-bottom: 4px solid #0181b0;
  }
  #aboutme .content .right .abtme {
    margin-left: 0px;
    padding-left: 0;
    width: 100%;
    border: none;
  }
  #aboutme .content .right .abtme p {
    margin-top: 15px;
    font-size: 22px;
    text-align: justify;
    padding-right: 25px;
  }
  .edu {
    font-size: 75px;
  }
  .breadcrumb li {
    font-size: 25px;
  }
  #aboutme .content .right button {
    width: 100px;
    font-size: 25px;
  }
  .breadcrumb li + li::before {
    font-size: 35px;
    padding: 0px;
  }
  #education .content .top {
    text-align: center;
    padding: 0;
  }
  #education .content .top .edu {
    font-size: 60px;
  }
  #education .content .bottom {
    padding: 0;
  }
  table,
  th {
    font-size: 15px;
  }
  td {
    font-size: 15px;
  }
  #skills .content {
    height: 75vh;
    width: 100%;
    padding: 10px;
  }
  #skills .content .bottom {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    padding: 0;
  }
  .skills-title {
    font-size: 55px;
  }
  .item {
    width: 45vw;
    height: 90%;
    padding: 10px;
    margin: 10px;
  }
  .item-top {
    display: flex;
    justify-content: center;
  }
  .item .item-bottom {
    font-size: 25px;
    text-align: center;
  }
  .item .item-bottom .description {
    display: none;
  }
  .underline {
    border-bottom: 4px solid #0181b0;
  }
  .underline:hover {
    border-bottom: 4px solid #ccc;
  }
  #contacts .content .bottom .bottom-left {
    height: 10%;
    width: 100%;
    border: none;
    border-bottom: #4a5c6a solid 2px;
    border-radius: 0;
  }
  #contacts .content .top {
    font-size: 45px;
    height: 10%;
  }
  #contacts .content .bottom {
    height: 90%;
    padding: 0;
    display: block;
    margin: 0;
    border: #4a5c6a solid 2px;
    border-radius: 12px;
  }
  .details {
    display: none;
    left: -200px;
  }
  #contacts .content .bottom .bottom-right {
    border: none;
    height: 90%;
    width: 100%;
    padding: 10px;
  }
  #contacts .content .bottom .bottom-right .message {
    font-size: 38px;
  }
  #contacts .content .bottom .bottom-right label {
    font-size: 25px;
  }
  #contacts .content .bottom .bottom-right .inputbox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #contacts .content .bottom .bottom-right .inputbox .input-box:first-child {
    margin-right: 0;
  }
  #contacts .content .bottom .bottom-right .inputbox .input-box:last-child {
    margin-left: 0;
  }
  #contacts .content .bottom .bottom-right form textarea {
    height: 26vh;
  }
  #contacts .content .bottom .bottom-left ul li {
    display: inline;
    font-size: 35px;
    padding: 0;
    text-align: center;
    padding-left: 25px;
  }
  #contacts .content .bottom .bottom-left ul li:first-child {
    padding-left: 0px;
  }
}
