header {
    top: 0;
}

.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.5;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.loader {
    border: 5px solid #ccc;
    border-top: 5px solid #0181b0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

.error {
    position: fixed;
    top: 75px;
    left: 0;
    animation: appear 5000ms backwards;
    background-color: rgba(255, 0, 0, 0.3);
    color: #ccc;
    height: 75px;
    margin-top: 15px;
    width: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

@keyframes appear {
    0% {
        transform: translateX(-100%);
    }
    25%,
    75% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.displayMessage {
    background-color: red;
    color: white;
    font-size: 18px;
    height: 55px;
    padding: 5px;
    text-align: center;
    width: max-content;
    top: 75px;
    left: 40%;
    position: fixed;
    opacity: 0.7;
    animation: slide-up 3000ms forwards;
    z-index: 3;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}