.overlay {
    height: calc(100vh);
    width: 100%;
    background-color: rgba(2, 13, 23, 0.75);
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.box {
    height: 800px;
    width: 700px;
    border: 2px solid var(--blue-color);
    background-color: var(--background-color);
    border-radius: 15px;
    padding: 25px;
    color: aliceblue;
    overflow-y: scroll;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: #ccc;
}

.appear {
    animation: appear 500ms forwards !important;
}

.disappear {
    animation: disappear 500ms backwards !important;
}

.box .title {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.box button {
    background-color: transparent;
    color: #ccc;
    font-size: 25px;
    outline: none;
    border: none;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-15%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes disappear {
    from {
        opacity: 1;
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateX(15%);
    }
}

.overlay .box img {
    width: 100%;
}

.button-carousel {
    background-color: #ccc !important;
    z-index: 5;
}