.main-container {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 55px;
  align-items: center;
  color: #ccc;
  font-size: 25px;
  border-radius: 4px;
  border: 1px solid var(--blue-color);
  padding: 0 15px;
  margin: 0;
}

.buttons {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  background-color: transparent;
  outline: none;
  border: none;
  color: #ccc;
  font-size: 25px;
}

.buttons a {
  color: #ccc;
  font-size: 25px;
  text-decoration: none;
}
