<div class="container-fluid" style="margin-top: 85px">
  <div class="container">
    <h1 Headers>Skills</h1>
    <div class="item-container">
      <div class="item" *ngFor="let temp of imported_array">
        <div class="item-top">
          <img [src]="temp.img_url" [alt]="temp.title + ' logo'" />
        </div>
        <div class="item-bottom">
          <span class="title">{{ temp.title }}</span
          ><br />
          <span class="description">{{ temp.desc }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
