* {
    color: white;
}

.view-area {
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-area .form {
    border: #777 solid 2px;
    border-radius: 25px;
    padding: 25px;
}

.input-box label {
    color: #0181b0;
    font-size: 28px;
}

.view-area .input-box input,
textarea {
    background-color: transparent;
    outline: none;
    border: none;
    height: 45px;
    font-size: 25px;
    border: 1px solid #777;
    border-bottom: 2px solid #777;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    width: 100%;
    padding-left: 15px;
}

.view-area .input-box input:focus,
textarea:focus {
    border: 1px solid #0181b0;
    border-bottom: #0181b0 solid 2px;
    background-color: #040000;
}

.view-area .input-box textarea {
    height: 250px;
}

.view-area .form .submit-button {
    display: flex;
    justify-content: center;
}

.view-area .form .submit-button button {
    height: 45px;
    border-radius: 5px;
    width: 50%;
    display: flex;
    justify-content: center;
    color: #0181b0;
    font-size: 28px;
    outline: none;
    border: #777 solid 2px;
    background-color: transparent;
}

.formArea {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    /* opacity: 0.5; */
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 5px solid #ccc;
    border-top: 5px solid #0181b0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.error {
    color: red;
}

.errorMessage {
    background-color: transparent;
    color: red;
    position: fixed;
    top: 70px;
    right: 0;
    margin-top: 15px;
    animation: appear 5000ms forwards;
    min-width: 300px;
    padding: 0px 15px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

@keyframes appear {
    0% {
        transform: translateX(100%);
        opacity: 0.2;
    }
    25% {
        transform: translateX(0%);
        opacity: 1;
    }
    75% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0.2;
    }
}

@media screen and (max-width: 1084px) {
    .errorMessage {
        background-color: rgba(1, 129, 176, 1);
        z-index: 5;
    }
}